@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    visibility: hidden;
    transform: translateX(-100%);
  }
}

.slideOutLeft.ng-leave {
  animation-name: slideOutLeft;
}
